<div class="container-fluid p-3 " dir="rtl">
  <h6 class="text-center  fs-5  " style="color: dodgerblue; font-weight: 900 ;font-size:medium;">
    الكاتدرائية المرقسية بالاسكندرية
  </h6>

  <button class="btn btn-primary" routerLink="/final" routerLinkActive="active">
    الانتقال إلى صفحة أخرى
  </button>

<br>
  <button class="btn btn-primary" routerLink="/create/83/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOlsiYSIsImQwM2EwZGI1LTYyMDgtNGEyNy1hMWJlLTFmOWFhNGMzY2MyNiJdLCJqdGkiOiJiN2RhYzdiNS0zMDdkLTQzMzctYTc3Zi0zNWJjYTYwZTdkMDkiLCJlbWFpbCI6ImFkbWluQHN5c3RlbS5jb20iLCJQYXNzIjoiQVFBQUFBRUFBQ2NRQUFBQUVFdXprS29uQWdJc0VQMXhpa0dzc3pkWE9ZYmRxM0J5dTlIbGE4SnIwTktIUXAvdzJoUEVhclFXL25VK3NycDBZQT09IiwidWlkIjoiZDAzYTBkYjUtNjIwOC00YTI3LWExYmUtMWY5YWE0YzNjYzI2Iiwicm9sZXMiOiJhZG1pbiIsImV4cCI6MTc1MDc2MDIxMSwiaXNzIjoiU2VjdXJlQXBpIiwiYXVkIjoiU2VjdXJlQXBpVXNlciJ9.AtcIMw1wLDWNJod5ao6YfXU5lLO8JvZHhhENyu0HASc" routerLinkActive="active">
    اضافة </button>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>